
@{
    ViewData["Title"] = "Report";
}
    <div class="sc-wrapper">
        <section class="sc-section">
            <div class="bar-chart chart1"></div>
        </section>
        <section class="sc-section">
            <div class="bar-chart chart2"></div>
        </section>
    </div>



@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/js/simple-chart.js"></script>
 

}
