
@{
    ViewData["Title"] = "About";
}

    <div class="about" id="about">
        <div class="about-line"></div>
        <div class="about-container">
            <h2>Our Story Begins in Sydney</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula commodo ipsum,
                volutpat aliquam sem aliquam ut. Nulla sollicitudin ac justo ut dignissim. Aliquam vehicula
                at lacus et tincidunt. Mauris non est ultricies, fermentum quam vel, egestas sapien. Praesent
                tincidunt est sit amet arcu bibendum, quis gravida eros congue. Sed non nisi laoreet, volutpat
                diam non, porta nunc. Donec id consequat enim. Mauris justo arcu, laoreet aliquam urna eu, cursus
                fermentum ante. Proin sollicitudin pellentesque porta. Nulla id bibendum ipsum.
            </p>
        </div>
    </div>

