@{
    ViewData["Title"] = "Home Page";
}

<div class="intro" id="intro">
    <div class="intro-p text-center">
        <h1>Taste of Sydney</h1>
        <h2>Sydney's Most Acclaimed Restaurant</h2>
    </div>
    <a class="btn btn-danger intro-button" asp-controller="home" asp-action="booking">Booking Now</a>
</div>



